<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- 处理用户输入 -->
    <div id="app">
        {{parseInt(a)+parseInt(b)}}
        <input v-model="a" type="text"> + <input v-model="b" type="text"> =<span>{{parseInt(a)+parseInt(b)}}</span>
    </div>

    <div id="app-1" style="margin: 100px">
        <span v-bind:title="message">
            鼠标悬停几秒钟查看提示信息
        </span>
    </div>
    <div id="app-2">
        <p v-if="seen">现在你看到我了</p>
    </div>
    <div id="app-3">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>
<script src="./vue.js"></script>
<script>
    // 处理用户输入
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            a:12,
            b:33,
        }
    })
    var app1 = new Vue({
        el:"#app-1",
        data:{
            message:"页面加载于" +new Date().toLocaleString()
        }
    })
    var app2 =new Vue({
        el:"#app-2",
        data:{
            seen:true
        }
    })
    var app3 = new Vue({
        el:'#app-3',
        data:{
            todos:[
                {text:'学习 JavaScript'},
                {text:'学习 vue'},
                {text:'整个牛项目'}
            ]
        }
    })
</script>
</html>