<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线电影城</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" >
   
</head>
<body>
    <div>
        <ul style="background-color: chartreuse;" class="row"> 
            <li class="col-md-3" style="font-size: 40px" ><a href="#home">首页</a></li>
            <li class="col-md-3" style="font-size: 40px"><a href="#movie">电影</a></li>
            <li class="col-md-3" style="font-size: 40px"><a href="#TV play">电视剧</a></li>   
            <li class="col-md-3" style="font-size: 40px"><a href="#about">上传</a></li>
        </ul>
    </div>
    
    <div class="center-block" style="text-align: center;background-color: rgb(128, 151, 252)">
            <img  style="margin-right: 0%" src="http://i2.tiimg.com/623920/097ec428ee445f27.gif" alt="http://www.baidu.com">
            <img  style="margin-right: 0%" src="http://i1.fuimg.com/623920/4e0710a4d16aece6.gif" alt="http://www.baidu.com">
            <img  style="margin-right: 0%" src="http://i4.fuimg.com/623920/5898198e2a8abadb.gif" alt="http://www.baidu.com">
    </div>

    <div style="background: yellow;text-align:center;" class="row">
        <div style="color: red;" class="col-md-3" >
            <div><p>今日更新  &emsp;&emsp;&emsp;&emsp; &emsp;&emsp;  最近更新</div>
        </div>   
        <div style="color: red" class="col-md-9">
            <div>本周热播  &nbsp;电影 &nbsp; 电视  &nbsp;综艺 &nbsp; 动漫</div></div>
         
        </div>
    </div>
    
    <div style="text-align: center;background: aqua">

        <div style="color: rgb(0, 0, 0)" class="col-md-3" >
            <ol>
                <li>钟馗捉妖记之梦魇传说</li>
                <li>翩翩起舞的姑娘</li>
                <li>不干了，我开除了黑心公司</li>
                <li>宫心计2(国语)</li>
                <li>宫心计2(粤语版）</li>
                <li>S.C.I.谜案集</li>
                <li>太行赤子</li>
                <li>老妈的桃花运</li>
                <li>像我们一样年轻</li>
                <li>灵与肉</li>
                <li>姿态</li>
                <li>哈特夫妇第二季</li>
                <li>黑色警报第三季</li>
                <li>19号消防局</li>
                <li>我爱露西第三季</li>
                <li>背后有人</li>
                <li>福尔摩斯：基本演绎法第六</li>
                <li>少女卧底第三季</li>
                <li>继承第一季</li>
                <li>异教徒</li>
                <li>航班 666</li>
                <li>锦衣卫之王者归来</li>
                <li>被蹂躏的她</li>
                
                
            </ol>
        </div>


        <div class="col-md-9" style="overflow-x: hidden">
                <div class="row">
                        <div class="col-md-2">
                            <img src="http://tu.taipwl.com/Uploads/vod/2018-06-08/5b1a305f33cc3.jpg" alt="侏罗纪世界2" style="width: 125px;height: 175px">
                            <p>侏罗纪世界2</p>
                            <p>2017</p>
                        </div>
                        <div class="col-md-2">
                            <img src="http://tu.taipwl.com/Uploads/vod/2018-06-25/5b30aad2a0728.jpg" alt="毒战 韩版" style="width: 125px;height: 175px">
                            <p>毒战 韩版</p>
                            <p>2018</p>
                        </div>
                        <div class="col-md-2">
                            <img src="http://tu.taipwl.com/Uploads/vod/2018-03-20/5ab0d3d93cf76.jpg" alt="猛龙过江" style="width: 125px;height: 175px">
                            <p>猛龙过江</p>
                            <p>2018</p>
                        </div>
                        <div class="col-md-2">
                            <img src="http://tu.taipwl.com/Uploads/vod/2018-06-13/5b2075ddf06de.jpg" alt="复仇者联盟3：" style="width: 125px;height: 175px">
                            <p>复仇者联盟3：</p>
                            <p>2018</p>
                        </div>
                        <div class="col-md-2">
                            <img src="http://tu.taipwl.com/Uploads/vod/2018-06-23/5b2de52ccd0d3.jpg" alt="野性侵袭" style="width: 125px;height: 175px">
                            <p>野性侵袭</p>
                            <p>2018</p>
                        </div>              
                </div>
                <div class="row">
                        <div class="col-md-2">
                            <img src="http://tu.taipwl.com/Uploads/vod/2018-05-15/5afaaf070333e.jpg" alt="金蝉脱壳2" style="width: 125px;height: 175px">
                            <p>金蝉脱壳2</p>
                            <p>2010</p>
                        </div>
                        <div class="col-md-2">
                            <img src="http://tu.taipwl.com/Uploads/vod/2018-06-15/5b235ee44a681.jpg" alt="卧底毒龙" style="width: 125px;height: 175px">
                            <p>卧底毒龙</p>
                            <p>2018</p>
                        </div>
                        <div class="col-md-2">
                            <img src="http://tu.taipwl.com/Uploads/vod/2017-12-19/5a38c350e6018.jpg" alt="死侍2" style="width: 125px;height: 175px">
                            <p>死侍2</p>
                            <p>2018</p>
                        </div>
                        <div class="col-md-2">
                            <img src="http://tu.taipwl.com/Uploads/vod/2018-06-25/5b30ac2e4e1f1.jpg" alt="人肉拼盘" style="width: 125px;height: 175px">
                            <p>人肉拼盘</p>
                            <p>2018</p>
                        </div>
                        <div class="col-md-2">
                            <img src="http://tu.taipwl.com/Uploads/vod/2018-06-23/5b2de5b5806e5.jpg" alt="无尽" style="width: 125px;height: 175px">
                            <p>无尽</p>
                            <p>2018</p>
                        </div>              
                </div>
        </div>
        
    </div>


    <div class="row" style="background: chartreuse">
            <div class="col-md-3">最新预告</div>
    </div> 
    <style> 
        .yihang p{
            word-break: break-all;

            text-overflow: ellipsis;

            display: -webkit-box;

            -webkit-box-orient: vertical; 

            -webkit-line-clamp: 1; 

            overflow: hidden; 
        }
    </style>
    <div class="yihang"  style="background-color: chocolate;text-align: center;">
        <div  style=" margin: 0px;width: 10%; display: inline-block;">
            <img src="http://tu.taipwl.com/Uploads/vod/2018-06-26/5b32028846179.jpg" alt="青春警示" style="width: 100px;height: 142px">
            <p>青春警示</p>
        </div>
        <div  style="margin: 0px;width: 10%; display: inline-block;">
            <img src=" http://tu.taipwl.com/Uploads/vod/2018-06-25/5b30b7b5aed33.jpg" alt="男狐聊斋2记记录卡记录卡" style="width: 100px;height: 142px">
            <p>男狐聊斋2记记录卡记录卡</p>
        </div>
        <div style="margin: 0px; width: 10%; display: inline-block;">
            <img src=" http://tu.taipwl.com/Uploads/vod/2018-06-25/5b30b4e5efdd2.jpg" alt="晃过上帝之" style="width: 100px;height: 142px">
            <p>晃过上帝之</p>
        </div>
        <div style="margin: 0px; width: 10%; display: inline-block;">
            <img src="http://tu.taipwl.com/Uploads/vod/2018-06-25/5b30b4329a7d3.jpg" alt="冬去春又来" style="width: 100px;height: 142px">
            <p>冬去春又来</p>
        </div>
        <div style="margin: 0px; width: 10%; display: inline-block;">
            <img src="http://tu.taipwl.com/Uploads/vod/2018-06-25/5b30b3aa9cd2c.jpg" alt="驯兔记" style="width: 100px;height: 142px">
            <p>驯兔记</p>
        </div>
        <div style="margin: 0px; width: 10%; display: inline-block;">
            <img src="http://tu.taipwl.com/Uploads/vod/2018-06-22/5b2cc048364fb.jpg" alt="欢迎来到马" style="width: 100px;height: 142px">
            <p>欢迎来到马</p>
        </div>
        <div style="margin: 0px; width: 10%; display: inline-block;">
            <img src="http://tu.taipwl.com/Uploads/vod/2018-06-22/5b2cbfd0c3458.jpg" alt="奎迪2" style="width: 100px;height: 142px">
            <p>奎迪2</p>
        </div>
        <div style="margin: 0px; width: 10%; display: inline-block;">
            <img src="http://tu.taipwl.com/Uploads/vod/2018-06-22/5b2cbefcb24cf.jpg" alt="将夜" style="width: 100px;height: 142px">
            <p>将夜</p>
        </div>
    
    </div>



















    
    <div>
        <style>
            .sb div{
                border: 1px solid black;
                height: 100px;
            }
        </style>
        底部
        <div class="row sb" style="border: 1px solid red; height: 100px;">

            <div class="col-md-2"></div>
            <div class="col-md-1"></div>
            <div class="col-md-4"></div>

        </div>
    </div>
</body>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</html>